{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="referrer" content="never">
    <title>Search_Suggest</title>
    
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/searchsuggest.js' %}"></script>

    <link href="{% static 'css/searchsuggest.css' %}" rel="stylesheet">

  </head>

  <body>
<ul class="list" id="searchsuggest-list">

</ul>
  </body>
</html>